:root {
  --primary-color: #6366f1;
  --default-color: #172b4d;
  --secondary-color: #f3f4f6;
  --danger-color: #f44336;
  --success-color: #4caf50;
  --warning-color: #ff9800;

  --primary-hover: #4f46e5;
  --secondary-hover: #e5e7eb;
  --danger-hover: #d31609;
  --success-hover: #0d8611;
  --active-hover: #058ce0;

  --off-white: #f6f9fc;
  --active-color: #1ea7fd;

  --theme-color: firebrick;
  --light-color: rgb(103, 108, 89);
}
