nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem 3rem;
  color: var(--theme-color);
}

.navbar {
  position: fixed;
  width: 100%;
  background: var(--white);
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.head {
  transform: translateX(-100%);
  transition-duration: 2s;
}
