nav {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem 5rem;
    color: var(--theme-color);
  }

  nav a{
    text-decoration: none;
    color: var(--theme-color);
  }