* {
  font-family: "Hind Madurai", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Zilla Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    text-align: center;
}

.head-logo{
    margin: 3rem 0;
    font-size: 10rem;
}
main .head{
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
    color: rgb(103, 108, 89);
}

.buttons{
    max-width: 30%;
    margin: 0 auto;
    height: 17vh;
    width: 300px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.btn{
    border: 1px solid;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-primary{
    border: 1px solid firebrick;
    color: firebrick;
    min-width: 125px;
}
.btn-secondary{
    background: firebrick;
    color: white;
    min-width: 125px;
}