@import url("./components.css");
@import url("./header.css");
@import url("./utilities.css");

* {
  font-family: "Zilla Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe{
  max-width: 830px;
  min-width: 800px;
  max-height: 40vh;
  margin: 1rem 0;
}

ul{
  list-style-type: none;
}

main {
  text-align: center;
}

.head-logo {
  margin: 3rem 0;
  font-size: 10rem;
  color: var(--light-color);
  transform: scale(0, 0);
  transition-duration: 2s;
}

main .head {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 3px;
  color: var(--light-color);
}

.buttons {
  max-width: 30%;
  margin: 0 auto;
  min-height: 17vh;
  width: 300px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  display: flex;
  min-width: 130px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-primary {
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
}

.btn-secondary {
  background: var(--theme-color);
  color: white;
}