.navigation {
  /* justify-content: space-between; */
  padding: 1rem 2rem;
  width: 100%;
  align-items: center;
}

.nav_head {
  flex: 1;
}

.nav_input {
  flex: 2;
}

.nav_actions {
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.badge_small {
  left: 0.5rem;
}
