.toast {
  position: fixed;
  top: 5rem;
  display: none;
  right: 1rem;
  animation: mymove 0.5s;
}

#remove_toast {
  background: white;
  color: green;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
}
@keyframes mymove {
  from {
    top: 3rem;
  }
  to {
    top: 5rem;
  }
}
